---
import { SEO } from "astro-seo";
import i18next, { t, changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import lambeauOutside from "assets/outsideLambeau.jpeg";
// import { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

changeLanguage("en");

// changeLanguage("en");
const currentLang = i18next.language;
// Generate a new path for every collection entry
export async function getStaticPaths() {
    const chapterEntries = await getCollection("chapters");
    return chapterEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---


<!-- ACTIVE CHAPTER CODE -->
{entry.data.activeChapter === true && (
  <Layout
    seoTitle={entry.data.city.toString() + " Chapter | ACTIVE | Cabeça de Queijo"}
    seoDescription={entry.data.snippet}
    seoOpenGraph={{
      basic: {
        title: entry.data.city,
        type: "website",
        image: "https://cabecadequeijo.com/openGraph.jpg",
        url: "https://cabecadequeijo.com/chapters/" + entry.data.slug,
      },
      image: {
        alt: "Cabeça de Queijo Homepage Screenshot",
      },
    }}
  />
    <Container>
      <div class="grid grid-cols-1 md:grid-cols-2 mt-6 min-h-[36rem]">
        <!-- LEFT SECTION -->
        <div class="min-h-full mt-4 p-20 relative" style={`background-image: url(${lambeauOutside.src}); background-repeat: no-repeat`}>
          <div class="absolute inset-0 bg-black opacity-50 rounded-lg"></div>
          <div class="relative">
            <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
              {entry.data.category}
            </span>
            <h1 class="text-white text-4xl lg:text-6xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
              {entry.data.city}
            </h1>
            <h2 class="text-blue-400 uppercase tracking-wider text-sm font-medium pt-2">
              {entry.data.otherPlacesToWatch.length + 1}&nbsp;{t("chapterSlug.placesToWatch")}
            </h2>
            <h2 class="text-blue-400 uppercase tracking-wider text-sm font-medium pt-2">
              {entry.data.totalMembers}&nbsp;{t("chapterSlug.members")}
            </h2>
          </div>
        </div>

        <!-- RIGHT SECTION -->
        <div class="p-6">
          <!-- <JoinAChapter>{entry.data.city}?</JoinAChapter> -->
          <div class="alert mt-12 mb-12">
            <span class="text-sm font-bold lg:tracking-tight mw-12">{t("chapterSlug.interested")} {entry.data.city}?</span>
            <div class="">
              <a href="https://chat.whatsapp.com/DCeTE832kUTJfAiskx4krA">
                <button class="btn btn-secondary whitespace-nowrap">
                  <Icon class="text-black w-5 h-5" name="mdi:whatsapp" />
                  {t("chapterSlug.joinWhatsApp")}
                </button>
              </a>
            </div>
          </div>
          {entry.data.snippet}

          <!-- FIND US SECTION -->
          <div class="mt-6 mb-6">
            <h2 class="text-2xl font-bold">{t("chapterSlug.whereToCheer")}</h2>
            <div class="mt-3 bg-base-200 rounded-lg p-4 border border-emerald-700 border-2 transition-all hover:bg-green-100">
              <a href={entry.data.findUs.googleMapsLink} target="_blank">
                <p class="text-lg font-extrabold">{entry.data.findUs.locationName}</p>
              </a>
              <p class="m-1">{entry.data.findUs.locationAddress}</p>
              <div class="mt-2 items-center text-center">
                <a href={entry.data.findUs.googleMapsLink} role="button" target="_blank" class="btn btn-success m-2">
                  <Icon class="text-black w-5 h-5 font-extrabold" name="mdi:account-group-outline" />
                  Google Maps
                </a>
                <a href={entry.data.findUs.appleMapsLink} role="button" target="_blank" class="btn btn-success mt-1">
                  <Icon class="text-black w-5 h-5 font-extrabold" name="mdi:account-group-outline" />
                  Apple Maps
                </a>
              </div>
            </div>
            {
              entry.data.otherPlacesToWatch.map((otherPlace) => (
              <div class="mt-3 bg-base-200 rounded-lg p-4">
                <a href={entry.data.findUs.googleMapsLink} target="_blank">
                  <p class="text-lg font-extrabold">{otherPlace.locationName}</p>
                </a>
                <p class="m-1">{otherPlace.locationAddress}</p>
                <div class="mt-2 items-center text-center">
                  <a href={otherPlace.googleMapsLink} role="button" target="_blank" class="btn btn-success m-2">
                    <Icon class="text-black w-5 h-5 font-extrabold" name="mdi:account-group-outline" />
                    Google Maps
                  </a>
                  <a href={otherPlace.appleMapsLink} role="button" target="_blank" class="btn btn-success mt-1">
                    <Icon class="text-black w-5 h-5 font-extrabold" name="mdi:account-group-outline" />
                    Apple Maps
                  </a>
                </div>
              </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class="text-center mt-8">
        <a
          href={t("chapterSlug.backToChaptersLink")}
          class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
          >← {t("chapterSlug.backToChapters")}</a
        >
      </div>
    </Container>
  </Layout>
)}

<!-- NON-ACTIVE CHAPTER or COMING SOON CHAPTER -->
{((entry.data.activeChapter === false && entry.data.comingSoon === true) ||
  (entry.data.activeChapter === false && entry.data.comingSoon === false)) && (
  <Layout
      seoTitle={entry.data.city.toString() + " Chapter | INACTIVE | Cabeça de Queijo"}
      seoDescription={entry.data.snippet}
      seoOpenGraph={{
        basic: {
          title: entry.data.city,
          type: "website",
          image: "https://cabecadequeijo.com/openGraph.jpg",
          url: "https://cabecadequeijo.com/chapters/" + entry.data.slug,
        },
        image: {
          alt: "Cabeça de Queijo Homepage Screenshot",
        },
      }}
    />
    <Container>
      <div class="mx-auto max-w-3xl mt-14">
        <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
          {entry.data.category}
        </span>
        <h1
          class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
          {entry.data.city}
        </h1>
      </div>

      <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
        {(entry.data.comingSoon === false && entry.data.activeChapter === false)? 'Chapter Not Yet Active' : ''}
        {(entry.data.comingSoon === true && entry.data.activeChapter === false) ? 'Chapter Coming Soon' : ''}
      </div>
      <div class="text-center mt-8">
        <a
          href="/chapters"
          class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
          >← {t("chapterSlug.backToChapters")}</a
        >
      </div>
    </Container>
  </Layout>
)}
