---
import Container from "@components/container.astro";
// import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { LanguageSelector } from "astro-i18next/components";
import { t } from "i18next";

const menuitems = t("navbar.menuitems", { returnObjects: true });
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href={t("navbar.mainLink")} class="text-lg">
          <span class="font-bold text-slate-800">Cabeça</span>
          <span class="text-slate-500"> de </span>
          <span class="font-bold text-slate-800">Queijo</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
            // Use the below code to render dropdowns
            // {item.children && (
            //   <Dropdown
            //     title={item.title}
            //     children={item.children}
            //     lastItem={index === menuitems.length - 1}
            //   />
            // )}
              <>
                {item && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <a role="button" href={t("navbar.button1Link")} class="btn btn-large btn-primary">{t("navbar.button1Text")}</a>
          <!-- LanguageSelector with custom language naming -->
          <LanguageSelector
            showFlag={true}
            languageMapping={{ en: " " }}
            class="my-select-class text-xl"
          />
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a role="button" href={t("navbar.button1Link")} class="btn btn-large btn-primary">{t("navbar.button1Text")}</a>
        <!-- LanguageSelector with custom language naming -->
        <LanguageSelector
          showFlag={true}
          languageMapping={{ en: " " }}
          class="my-select-class text-xl"
        />
      </div>
    </div>
  </header>
</Container>
