---
import Container from "@components/container.astro";
// import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { LanguageSelector } from "astro-i18next/components";
import { t } from "i18next";

// Ensure we have a fallback if translation fails
const menuitems = t("navbar.menuitems", { returnObjects: true }) || [];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href=`${t("navbar.mainLink")}` class="text-lg">
          <span class="font-bold text-slate-800">Cabeça</span>
          <span class="text-slate-500"> de </span>
          <span class="font-bold text-slate-800">Queijo</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 absolute lg:relative bg-white lg:bg-transparent z-50 left-0 right-0 p-4 lg:p-0 border lg:border-0 rounded-lg shadow-lg lg:shadow-none">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            Array.isArray(menuitems) ? menuitems.map((item) => (
            // Use the below code to render dropdowns
            // {item.children && (
            //   <Dropdown
            //     title={item.title}
            //     children={item.children}
            //     lastItem={index === menuitems.length - 1}
            //   />
            // )}
              <>
                {item && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            )) : null
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4 flex-col">
          <a role="button" href={t("navbar.button1Link")} class="btn btn-large btn-primary w-full text-center">{t("navbar.button1Text")}</a>
          <!-- LanguageSelector with custom language naming -->
          <LanguageSelector
            showFlag={true}
            class="bg-white border rounded-md px-2 py-1 text-lg w-full cursor-pointer relative z-[100]"
            languageMapping={{ en: "English", "pt-BR": "Português" }}
          />
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a role="button" href={t("navbar.button1Link")} class="btn btn-large btn-primary">{t("navbar.button1Text")}</a>
        <!-- LanguageSelector with custom language naming -->
        <LanguageSelector
          showFlag={true}
          class="bg-white border rounded-md px-2 py-1 text-lg cursor-pointer relative z-[100]"
          languageMapping={{ en: "English", "pt-BR": "Português" }}
        />
      </div>
    </div>
  </header>
</Container>
