---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Chapter {
  city: string;
  members: string;
  chapterMeetingPlace: string;
  chapterMeetingAddressLink: string;
  status: "Active" | "Coming Soon" | "Em breve" | "Inactive";
  slug: string;
}

const chapterList: Chapter[] = [
  {
    slug: "sao-paulo",
    city: "São Paulo",
    members: "12",
    chapterMeetingPlace: "Watch Parties",
    chapterMeetingAddressLink: lang === 'pt-BR' ? "/pt-BR/chapters/sao-paulo/" : "/chapters/sao-paulo/",
    status: "Active"
  },
  {
    slug: "santos",
    city: "Santos",
    members: "22",
    chapterMeetingPlace: "Lambeau Field Northeast",
    chapterMeetingAddressLink: lang === 'pt-BR' ? "/pt-BR/chapters/santos/" : "/chapters/santos/",
    status: lang === 'pt-BR' ? "Em breve" : "Coming Soon"
  },
  {
    slug: "salvador",
    city: "Salvador",
    members: "22",
    chapterMeetingPlace: lang === 'pt-BR' ? "Campo Lambeau Nordeste" : "Lambeau Field Northeast",
    chapterMeetingAddressLink: lang === 'pt-BR' ? "/pt-BR/chapters/salvador/" : "/chapters/salvador/",
    status: lang === 'pt-BR' ? "Em breve" : "Coming Soon"
  },
  {
    slug: "amazonia",
    city: "Amazônia",
    members: "~10",
    chapterMeetingPlace: lang === 'pt-BR' ? "Campo Lambeau Amazônia" : "Lambeau Field Amazonia",
    chapterMeetingAddressLink: lang === 'pt-BR' ? "/pt-BR/chapters/amazonia/" : "/chapters/amazonia/",
    status: lang === 'pt-BR' ? "Em breve" : "Coming Soon"
  },
  {
    slug: "brasilia",
    city: "Brasília",
    members: "~10",
    chapterMeetingPlace: lang === 'pt-BR' ? "Campo Lambeau Amazônia" : "Lambeau Field Amazonia",
    chapterMeetingAddressLink: lang === 'pt-BR' ? "/pt-BR/chapters/brasilia/" : "/chapters/brasilia/",
    status: lang === 'pt-BR' ? "Em breve" : "Coming Soon"
  }
];
---

<div class="pt-4 md:pt-16 pb-2 md:pt-3 md:pb-6" id="chapters">
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {t("chapters.chapterListTitle")}
  </h1>
  <div class="grid md:grid-cols-4 gap-4 max-h-100 text-lg mt-4 text-slate-600">
    {
      chapterList.map((chapter, index) => {
        if (chapter.status === "Coming Soon" || chapter.status === "Em breve") {
          return (
            <div class="relative border border-slate-200 rounded-lg p-4 hover:drop-shadow-sm min-h-56">
              <div class="absolute inset-0 bg-black bg-opacity-60 flex flex-col items-center justify-center rounded-lg backdrop-blur-sm">
                <span class="font-extrabold text-white text-3xl pb-2">{chapter.city}</span>
                <span class="font-extrabold text-white text-2xl pb-2">{t("chapters.chapterComingSoon")}</span>
                <a href={lang === 'pt-BR' ? "/pt-BR/join/" : "/join/"} class="btn btn-accent text-md">
                  {t("chapters.getNotified")}
                </a>
              </div>
            </div>
          )
        } else {
          return (
            <div class="relative border border-slate-200 rounded-lg p-4 hover:drop-shadow-sm min-h-56">
              <h3 class="text-3xl font-extrabold tracking-tight text-center ">
                {chapter.city}
              </h3>
              <hr>
              <p class="text-lg font-semibold mt-2">
                👪 {chapter.members} {t("chapters.members")}
              </p>
              <p class="text-lg font-semibold mt-2">
                <a href={`${chapter.chapterMeetingAddressLink}`}>🗺️ {chapter.chapterMeetingPlace}</a>
              </p>
              {
                // If the Chapter is not "Coming Soon" or "Inactive", show the Join button
                (chapter.status === "Active") && (
                <a href={`${lang === 'pt-BR' ? "/pt-BR" : ""}/chapters/${chapter.slug}/`} class="btn btn-primary text-lg mt-2">
                  {t("chapters.learnMore")}
                </a>
              )}
            </div>
          )
        }
      })
    }
  </div>
</div>
